## Session Transcript
The following is an excerpt of a MI counselling session transcript:

{{ transcript }}

## Target Utterance for Classification
Below is the {{ speaker }}'s final utterance in the session excerpt:

{{ utterance }}